 .no-js #loader { display: none;  }
            .js #loader { display: block; position: absolute; left: 100px; top: 0; }
            .se-pre-con {
                    position: fixed;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 9999;
                    background: url(js/Preloader_3.gif) center no-repeat #fff;
            }
          
          	body {
		  margin: 2rem;
		}
		.paginate_button {
		  border-radius: 0 !important; 
		}
                
                .nopadding {
                   padding: 0 !important;
                   margin: 0 !important;
                }
                
                .card {
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                        transition: 0.3s;
                        width: 70%;
                        border-radius: 5px;
                    }
                    
                    .card:hover {
                        box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
                    }
                    
                    img {
                        border-radius: 5px 5px 0 0;
                    }
                    
                    .container {
                        padding: 2px 16px;
                    }